/*! core_flashy.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Flashy theme core 
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
1. Resets and base setup
2. Back to top button
3. Progress bars
4. Input placeholders
5. Window scrollbar
=============================================================================
***/

/* ==========================================================================
0. CSS Imports
========================================================================== */

@import 'colors';
@import 'mixins';
@import 'themes/flashy';
@import 'layout/navbar';
@import 'layout/sections';
@import 'layout/hero';
@import 'layout/footer';
@import 'layout/animations';
@import 'layout/navigation';
@import 'layout/pageloader';
@import 'components/buttons';
@import 'components/cards';
@import 'components/boxes';
@import 'components/tabs';
@import 'components/testimonials';
@import 'components/dialogs';
@import 'components/forms';
@import 'components/tables';
@import 'components/lists';
@import 'components/labels';
@import 'components/messages';
@import 'components/pricing';
@import 'components/dropdowns';
@import 'extensions/checkboxes';
@import 'pages/details';
@import 'pages/auth';
@import 'pages/agency';
@import 'layout/helpers';
@import 'layout/responsive';


/* ==========================================================================
1. Resets and base setup
========================================================================== */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    overflow: hidden !important;
}

a, a:active, i, i:active, div, div:active, div:focus, span:focus, span:active, {
    outline: none !important;
}

.button.is-active, .button:active, .button:focus {
    box-shadow: none !important
}

section:focus {
    outline: none !important;
}

@font-face {
    font-family: 'Nexa Light';
    src: url("../fonts/text/nexa/NexaLight.woff") format("woff"), url("../fonts/text/nexa/NexaLight.ttf")  format("truetype");
}

@font-face {
    font-family: 'Nexa Bold';
    font-weight: bold;
    src: url("../fonts/text/nexa/NexaBold.woff") format("woff"), url("../fonts/text/nexa/NexaBold.ttf")  format("truetype");
}

/* ==========================================================================
2. Back to top button
========================================================================== */

#backtotop {
    position: fixed;
    right: 0;
    opacity: 0;
    visibility: hidden;
    bottom: 25px;
    margin: 0 25px 0 0;
    z-index: 9999;
    transition: 0.35s;
    transform: scale(0.7);
    transition: all 0.5s;
}

#backtotop.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);

}

#backtotop.visible a:hover {
    outline: none;
    opacity: 0.9;
    background: $secondary;
}

#backtotop a {
    outline: none;
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 46px;
    height: 46px;
    background-color: $medium-grey;
    opacity: 1;
    transition: all 0.3s;
    border-radius: 50%;
    text-align: center;
    font-size: 26px
}

body #backtotop a {
    outline: none;
    color: #fff;
}

#backtotop a:after {
    outline: none;
    content: "\f106";
    font-family: "FontAwesome";
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}


/* ==========================================================================
3. Progress bars
========================================================================== */

.progress {
    width: 100% !important;
}

.progress.primary::-webkit-progress-value {
    background-color: $primary !important;
}

.progress.secondary::-moz-progress-bar {
    background-color: $secondary !important;
}


/* ==========================================================================
4. Input placeholders
========================================================================== */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $placeholder;
}
:-moz-placeholder { /* Firefox 18- */
    color: $placeholder;
}


/* ==========================================================================
5. Window scrollbar
========================================================================== */

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,0.2)
}
